<div class="pure-menu pure-menu-open pure-menu-horizontal  {{nav.classes.cont}}">



    <a href="{{staticPath}}" class="pure-menu-heading"><img src="{{appPathImg}}/d4d_smLogo.png" alt=""></p>
		</a>
    <ul  ng-repeat='button in nav.buttons.left' class="{{button.classes.cont}}">
        <li>
				
				<div ng-if='!button.html' ng-hide='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
					</div>
				<a ng-if='button.html' ng-show='button.href' class='{{button.classes.button}}' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
				
			
		</li></ul>
		<!-- navbar Right -->
		<!-- Login Button -->
		<!-- Logout Button -->
		<!-- Signup -->
	
			<ul ng-repeat='button in nav.buttons.right' class='nav-header-right right pure-menu-horizontal  {{button.classes.cont}}'>
				<a ng-if='!button.html' ng-show='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-href = '{{button.href}}'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</a>
				<li ng-if='!button.html' ng-hide='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</li>
				<a ng-if='button.html' ng-show='button.href' class='nav-header-right {{button.classes.button}}' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
				<!-- <div ng-if='button.html' ng-hide='button.href' class='nav-header-button {{button.classes.button}}' ng-click = 'button.click()' ng-bind-html='button.html'></div> -->
			</ul>

		


</div>

<!-- 
<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<li class="disabled">
					<a href="#">Messages</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Separated link</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div> -->






<!-- <div class='flex1 right nav-header-right-cont'>
		<div class='flexbox row'>
			<div ng-repeat='button in nav.buttons.right' class='nav-header-right flex1 {{button.classes.cont}}'>
				<a ng-if='!button.html' ng-show='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-href = '{{button.href}}'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</a>
				<div ng-if='!button.html' ng-hide='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</div>
				<a ng-if='button.html' ng-show='button.href' class='nav-header-button {{button.classes.button}}' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
				<div ng-if='button.html' ng-hide='button.href' class='nav-header-button {{button.classes.button}}' ng-click = 'button.click()' ng-bind-html='button.html'></div>
			</div>
		</div>
	</div>

</div> -->

<!-- <div class='nav-header flexbox row {{nav.classes.cont}}'>
	<div class='flex1 left nav-header-left-cont'>
		<div class='flexbox row'>
			<div ng-repeat='button in nav.buttons.left' class='nav-header-left flex1 {{button.classes.cont}}'>
				<a ng-if='!button.html' ng-show='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-href = '{{button.href}}'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</a>
				<div ng-if='!button.html' ng-hide='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</div>
				<a ng-if='button.html' ng-show='button.href' class='nav-header-button {{button.classes.button}}' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
				<div ng-if='button.html' ng-hide='button.href' class='nav-header-button {{button.classes.button}}' ng-click = 'button.click()' ng-bind-html='button.html'></div>
			</div>
		</div>
	</div>
	<h3 class='flex3 center nav-header-title-cont {{nav.title.classes.cont}}'>
		<a ng-show='nav.title.href' class='nav-header-title' ng-href = '{{nav.title.href}}' ng-bind-html='nav.title.html'></a>
		<div ng-hide='nav.title.href' class='nav-header-title' ng-click = 'nav.title.click()' ng-bind-html='nav.title.html'></div>
	</h3>
	<div class='flex1 right nav-header-right-cont'>
		<div class='flexbox row'>
			<div ng-repeat='button in nav.buttons.right' class='nav-header-right flex1 {{button.classes.cont}}'>
				<a ng-if='!button.html' ng-show='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-href = '{{button.href}}'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</a>
				<div ng-if='!button.html' ng-hide='button.href' class='nav-header-button nav-header-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
					<i class='nav-header-icon-button-icon {{button.icon}}'></i>
					<div class='nav-header-icon-button-text' ng-bind-html='button.iconHtml'></div>
				</div>
				<a ng-if='button.html' ng-show='button.href' class='nav-header-button {{button.classes.button}}' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
				<div ng-if='button.html' ng-hide='button.href' class='nav-header-button {{button.classes.button}}' ng-click = 'button.click()' ng-bind-html='button.html'></div>
			</div>
		</div>
	</div>
</div> -->